<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>alkometri purkka edition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <style>body {background-color: black}</style>
<body>
<p></p>
<div class="ui container">
            <div class="ui four stackable cards">
               {% for file in files %}
                    <div class="card">
                      <div class="image">
                          <div class="meta">
                             <span>
                              {% if file["age"] > 86400 %}
                                 {{ (file["age"] / 86400)|int }} days ago
                              {% elif file["age"] > 3600 %}
                                 {{ (file["age"] / 3600)|int }} hours ago
                              {% elif file["age"] > 60 %}
                                 {{ (file["age"] / 60)|int }} minutes ago
                              {% else %}
                                 {{ (file["age"])|int }} seconds ago
                              {% endif %}
                             </span>
                          </div>
                              {% if file["name"][-4:] == ".jpg" %}
                                 <img src="/static/{{ file["location"] }}/{{ file["name"] }}">
                              {% else %}
                                 /static/{{ file["location"] }}/{{ file["name"] }}
                              {% endif %}
                      </div>
                      <div class="extra content">
                        <span>
                          <i class="large yellow beer icon"></i>
                          <a href="{{ file["location"] }}">{{ file["location"] }}</a>
                        </span>
                      </div>
                    </div>
               {% endfor %}
            </div>
          </div>
</body>
